.sectionone {
	color: red;
	text-align: center;
}
body {
	background-color: #556B2F;  
}
#link {
	position: fixed;
	bottom: 10px;
	font-size: 50px;
}
#vivalbania {
	color: #00FA9A;
	text-align: center;
}
#polonia {
	float: right;
}
#sgarbi {
	float: center;
}
#menu {
	background: #c0c0c0;
	height: 52 px;
	widht: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
